
.auth-box {
  width: 380px;
  margin: 60px auto;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 25px;
}

.tabs button {
  background: none;
  border: none;
  font-size: 16px;
  padding-bottom: 6px;
  cursor: pointer;
  color: #777;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tabs button.active {
  color: #4caf50;
  border-bottom: 3px solid #4caf50;
  font-weight: bold;
}


.tabs button:hover {
  color: orange;
}
