.btn {
  background: var(--primary);
  color: var(--font);
  padding: 10px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: var(--secondary);
}
