@use "../../styles/variables" as *;

.btn {
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  font-size: 16px;

  background-color: $primary;
  color: white;

  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $secondary;
    color: $hover-text;
  }
}
