@use "../../styles/variables" as *;

.btn {
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 16px;
  color: $secondary;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $hover-text;
  }

  &.active {
    color: $primary;
    border-bottom: 3px solid $primary;
    font-weight: bold;
  }
}
