:root {
  --primary: #4caf50;
  --secondary: #2196f3;
  --font: #111;
  --admin-bg: #fff;

  --text-main: #0f172a;

  --accent: #2563eb;
  --accent-hover: #1d4ed8;
}

.dashboard {
  background: var(--admin-bg);
  color: var(--font);

  h2 {
    color: var(--primary);
  }

  button {
    background: var(--primary);
    color: white;

    &:hover {
      background: var(--secondary);
    }
  }
}
