.layout-body {
  display: flex;
}

.layout-content {
  margin-top: 60px;
  margin-left: 220px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 60px;
  }
}
