.layout-body {
  display: flex;
}

.layout-content {
  margin-top: 60px;
  margin-left: 220px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .layout-content {
    margin-left: 60px;
  }
}
.layout {
  animation: fadeIn 0.4s ease;
}

// @keyframes fadeIn {
//   // from {
//   //   opacity: 0;
//   //   transform: translateY(6px);
//   // }
//   // to {
//   //   opacity: 1;
//   //   transform: translateY(0);
//   // }
// }
