.sidebar {
  position: fixed;
  top: 60px; /* header height */
  left: 0;
  height: calc(100vh - 60px);
  width: 220px; /* FULL SIDEBAR */
  background: #0f172a;
  color: #fff;
  padding-top: 10px;
  transition: width 0.3s ease;
  overflow-x: hidden;

  a,
  .logout-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;

    &:hover {
      background: #1e293b;
    }
  }

  svg {
    font-size: 18px;
    min-width: 20px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;

    span {
      display: none;
    }

    a,
    .logout-btn {
      justify-content: center;
      padding: 14px 0;
    }
  }
}
