:root {
  --border: #e5e7eb;
  --bg-main: #ffffff;
  --text-muted: #64748b;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  z-index: 1000;

  background: var(--bg-main);
  border-top: 1px solid var(--border);
  color: "black";
}

/* SOCIAL ICONS */
.socials {
  display: flex;
  gap: 16px;

  svg {
    cursor: pointer;
    font-size: 16px;
    color: #000;

    &:hover {
      color: #64748b;
    }
  }
}

/* LINKS */
.links {
  display: flex;
  gap: 14px;
  font-size: 13px;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      color: #64748b;
    }
  }
}

/* COPYRIGHT */
.footer p {
  font-size: 12px;
  opacity: 0.7;
}
